<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <style>
    .card {
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <div class="container mt-4">
    <h1>Admin Page</h1>
    <div class="row">
      {% for record in records %}
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Question {{ record.id_no }}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary"><b>Name:</b>  {{ record.name }}</h6>
              <h6 class="card-subtitle mb-2 text-body-secondary"><b>Email:</b>  {{ record.email }}</h6>
              <p class="card-text"><b>Message</b> <br>{{ record.message }}</p>
              <a href="#" class="btn btn-primary">Reply</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
